# Dependencies
/vendor/
/node_modules/

# Environment / sensitive config data
.env
.env.local

# PHPUnit and testing artifacts
/phpunit.xml
/phpunit.xml.dist
/tests/_output/
/build/
*.phpunit.result.cache

# Logs / caches
*.log
/storage/

# OS files
.DS_Store
Thumbs.db

# Editor / OS temp
.vscode/
.idea/
/*.sw?
*.swp
*.bak
*~

# temp exclusions, will clean these up later
/docs/
/old/
.installed.lock