# Dependencies
/vendor/

# Environment / sensitive config data
.env
.env.local

# PHPUnit and testing artifacts
/phpunit.xml
/phpunit.xml.dist
/tests/_output/
/build/

# Logs / caches
*.log
/storage/

# OS files
.DS_Store
Thumbs.db

# Editor / OS temp
*.swp
/*.sw?
*~
.vscode/
.idea/

# temp exclusions, will clean these up later
/docs/
/old/