RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !\.css
RewriteCond %{REQUEST_FILENAME} !\.ico
RewriteCond %{REQUEST_FILENAME} !\.jpg
RewriteCond %{REQUEST_FILENAME} !\.png
RewriteRule ^(.*)$ index.php/$1 [L]